.container {
  font-family: "Your Chosen Font", sans-serif;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.my-4 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.form-group {
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 24px;
}
